<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		{% stylesheets filter='assetsurl,less,?yui_css' output='css/cms.css'
			'@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle-fa.less'
			'@HexmediaAdministratorBundle/Resources/public/less/all.less'
			'@HexmediaAdministratorBundle/Resources/public/font-awesome/less/font-awesome.less'
		%}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}
        {% block head_style %}{% endblock %}
		{#% stylesheets filter='compass,cssrewrite,yui_css' output='css/flat-ui.css'
			'@HexmediaFlatUIBundle/Resources/public/sass/flat-ui.sass' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %#}
		{% javascripts output='js/admin.js'
			'@HexmediaAdministratorBundle/Resources/public/js/lib/jquery.min.js'
			'@MopaBootstrapBundle/Resources/twbs/dist/js/bootstrap.min.js'
			'@FOSJsRoutingBundle/Resources/public/js/router.js'
			'@BazingaExposeTranslationBundle/Resources/public/js/translator.min.js'
			'@HexmediaKnockoutBundle/Resources/public/js/knockout.min.js'
			'@HexmediaKnockoutBundle/Resources/public/js/router.js'
			'@HexmediaKnockoutBootstrapBundle/Resources/public/js/knockout-bootstrap.js'
			'@HexmediaAdministratorBundle/Resources/public/js/model/alert.js'
			'@HexmediaAdministratorBundle/Resources/public/js/own/extensions.js'
			'@HexmediaAdministratorBundle/Resources/public/js/model/list.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script type="text/javascript" src="{{ path('bazinga_exposetranslation_js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		{% javascripts filter="yui_js" output='js/cms.js'
			'@HexmediaAdministratorBundle/Resources/public/js/cms.js'
		%}

		{% block head_script %}{% endblock %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="container main">
			<div class="row header">
				<div class="col-md-2"><h1>{{'CMS'|trans}}</h1></div>
				<div class="col-md-8">
						{{ wo_render_breadcrumbs() }}
				</div>
				<div class="col-md-2 navbar">
					<ul class="nav nav-tabs">
						<li class="dropdown dropdown-submenu">
							<img src="{{ gravatar(app.user.email, 30) }}" alt="{{ app.user.email }}" />{{'Your account'|trans}}
							<ul class="dropdown-menu">
								<li><a href="{{ path('fos_user_profile_show') }}">{{'Profile'|trans}}</a></li>
								<li><a href="{{ path('fos_user_security_logout') }}">{{'Logout'|trans}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row content">
				<div class="col-md-2 menu dropdown">
						{{ knp_menu_render('main', {'currentClass': 'active', 'ancestorClass': 'active', 'template': 'HexmediaAdministratorBundle:Menu:main_menu.html.twig'}) }}
				</div>
				<div class="col-md-10 main-content">
					<div class="alerts">
						<div data-bind="foreach: alerts">
							<div data-bind="attr: { 'class': aclass }">
								<span data-bind="text: message"></span>
								<button type="button" class="close" data-dismiss="alert">×</button>
							</div>
						</div>
					</div>

							{% block body %}{% endblock %}
				</div>
			</div>
		</div>
        {% block bottom_script %}{% endblock %}
	</body>
</html>
