<script type="text/knockout" id="list_table_header">
    <thead>
    <tr>
        <th>
            <input type="checkbox" name="select_all" data-bind="checked: parent.allChecked"/>
        </th>
        <!-- ko foreach: columns -->
        <th data-bind="attr: {'class': name}">
            <!-- ko if: sortable -->
            <a href="#" data-bind="html:display, sort: name"></a>
            <!-- /ko -->
            <!-- ko ifnot: sortable -->
            <span data-bind="html:display"></span>
            <!-- /ko -->
        </th>
        <!-- /ko -->
        <th>
            {% if addRouteName != false %}
                <a href="#"
                   data-bind="route: {name: '{{ addRouteName }}', params:  {% if addParams is defined %}{{ addParams|json_encode }}{% else %}{}{% endif %} }" class="btn btn-primary"><i class="icon-plus-sign"></i> {{ 'Add'|trans }}</a>
                {% for aa in additionalActions %}
                    <a href="#" class="{{ aa.class }}"
                            {% if aa.route is defined %}
                        data-bind="route: {name:'{{ aa.route }}', params:  {% if addParams is defined %}{{ addParams|json_encode }}{% else %}{}{% endif %} }"
                            {% endif %}></a>
                {% endfor %}
            {% else %}
                &nbsp;
            {% endif %}
        </th>
    </tr>
    </thead>
</script>

